.dark-medium-contrast {
  --md-sys-color-primary: rgb(199 222 255);
  --md-sys-color-surface-tint: rgb(161 202 253);
  --md-sys-color-on-primary: rgb(0 39 71);
  --md-sys-color-primary-container: rgb(107 147 196);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(209 221 241);
  --md-sys-color-on-secondary: rgb(26 38 53);
  --md-sys-color-secondary-container: rgb(133 146 164);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(208 220 255);
  --md-sys-color-on-tertiary: rgb(5 35 85);
  --md-sys-color-tertiary-container: rgb(121 144 199);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 24);
  --md-sys-color-on-background: rgb(225 226 232);
  --md-sys-color-surface: rgb(17 20 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(217 220 229);
  --md-sys-color-outline: rgb(174 178 186);
  --md-sys-color-outline-variant: rgb(140 144 152);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 232);
  --md-sys-color-inverse-on-surface: rgb(39 42 47);
  --md-sys-color-inverse-primary: rgb(28 74 118);
  --md-sys-color-primary-fixed: rgb(210 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 18 37);
  --md-sys-color-primary-fixed-dim: rgb(161 202 253);
  --md-sys-color-on-primary-fixed-variant: rgb(0 56 98);
  --md-sys-color-secondary-fixed: rgb(215 227 248);
  --md-sys-color-on-secondary-fixed: rgb(5 18 32);
  --md-sys-color-secondary-fixed-dim: rgb(187 199 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(43 55 70);
  --md-sys-color-tertiary-fixed: rgb(217 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 15 48);
  --md-sys-color-tertiary-fixed-dim: rgb(176 198 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(28 52 102);
  --md-sys-color-surface-dim: rgb(17 20 24);
  --md-sys-color-surface-bright: rgb(66 69 74);
  --md-sys-color-surface-container-lowest: rgb(5 8 11);
  --md-sys-color-surface-container-low: rgb(27 30 34);
  --md-sys-color-surface-container: rgb(37 40 45);
  --md-sys-color-surface-container-high: rgb(48 51 55);
  --md-sys-color-surface-container-highest: rgb(59 62 67);
}
