.dark-high-contrast {
  --md-sys-color-primary: rgb(232 240 255);
  --md-sys-color-surface-tint: rgb(161 202 253);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(157 198 249);
  --md-sys-color-on-primary-container: rgb(0 12 28);
  --md-sys-color-secondary: rgb(232 240 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(183 196 215);
  --md-sys-color-on-secondary-container: rgb(1 12 26);
  --md-sys-color-tertiary: rgb(236 239 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(171 194 253);
  --md-sys-color-on-tertiary-container: rgb(0 10 36);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(17 20 24);
  --md-sys-color-on-background: rgb(225 226 232);
  --md-sys-color-surface: rgb(17 20 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(236 240 249);
  --md-sys-color-outline-variant: rgb(191 195 203);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 232);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(28 74 118);
  --md-sys-color-primary-fixed: rgb(210 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(161 202 253);
  --md-sys-color-on-primary-fixed-variant: rgb(0 18 37);
  --md-sys-color-secondary-fixed: rgb(215 227 248);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(187 199 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(5 18 32);
  --md-sys-color-tertiary-fixed: rgb(217 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(176 198 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 15 48);
  --md-sys-color-surface-dim: rgb(17 20 24);
  --md-sys-color-surface-bright: rgb(77 80 85);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(29 32 36);
  --md-sys-color-surface-container: rgb(46 49 53);
  --md-sys-color-surface-container-high: rgb(57 60 64);
  --md-sys-color-surface-container-highest: rgb(68 71 76);
}
