.light {
  --md-sys-color-primary: rgb(55 97 142);
  --md-sys-color-surface-tint: rgb(55 97 142);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(210 228 255);
  --md-sys-color-on-primary-container: rgb(26 73 117);
  --md-sys-color-secondary: rgb(83 95 112);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(215 227 248);
  --md-sys-color-on-secondary-container: rgb(60 72 88);
  --md-sys-color-tertiary: rgb(71 93 145);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(217 226 255);
  --md-sys-color-on-tertiary-container: rgb(46 69 120);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(248 249 255);
  --md-sys-color-on-background: rgb(25 28 32);
  --md-sys-color-surface: rgb(248 249 255);
  --md-sys-color-on-surface: rgb(25 28 32);
  --md-sys-color-surface-variant: rgb(223 226 235);
  --md-sys-color-on-surface-variant: rgb(67 71 78);
  --md-sys-color-outline: rgb(115 119 127);
  --md-sys-color-outline-variant: rgb(195 198 207);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 49 53);
  --md-sys-color-inverse-on-surface: rgb(239 240 247);
  --md-sys-color-inverse-primary: rgb(161 202 253);
  --md-sys-color-primary-fixed: rgb(210 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 29 54);
  --md-sys-color-primary-fixed-dim: rgb(161 202 253);
  --md-sys-color-on-primary-fixed-variant: rgb(26 73 117);
  --md-sys-color-secondary-fixed: rgb(215 227 248);
  --md-sys-color-on-secondary-fixed: rgb(16 28 43);
  --md-sys-color-secondary-fixed-dim: rgb(187 199 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(60 72 88);
  --md-sys-color-tertiary-fixed: rgb(217 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 25 69);
  --md-sys-color-tertiary-fixed-dim: rgb(176 198 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(46 69 120);
  --md-sys-color-surface-dim: rgb(216 218 224);
  --md-sys-color-surface-bright: rgb(248 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 243 250);
  --md-sys-color-surface-container: rgb(236 238 244);
  --md-sys-color-surface-container-high: rgb(230 232 238);
  --md-sys-color-surface-container-highest: rgb(225 226 232);
}
