.light-medium-contrast {
  --md-sys-color-primary: rgb(0 56 98);
  --md-sys-color-surface-tint: rgb(55 97 142);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(70 112 158);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(43 55 70);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(98 110 127);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(28 52 102);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(85 108 161);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(248 249 255);
  --md-sys-color-on-background: rgb(25 28 32);
  --md-sys-color-surface: rgb(248 249 255);
  --md-sys-color-on-surface: rgb(14 17 22);
  --md-sys-color-surface-variant: rgb(223 226 235);
  --md-sys-color-on-surface-variant: rgb(50 54 61);
  --md-sys-color-outline: rgb(78 83 90);
  --md-sys-color-outline-variant: rgb(105 109 117);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 49 53);
  --md-sys-color-inverse-on-surface: rgb(239 240 247);
  --md-sys-color-inverse-primary: rgb(161 202 253);
  --md-sys-color-primary-fixed: rgb(70 112 158);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(44 87 132);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(98 110 127);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(73 86 102);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(85 108 161);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(61 84 135);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(197 198 204);
  --md-sys-color-surface-bright: rgb(248 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 243 250);
  --md-sys-color-surface-container: rgb(230 232 238);
  --md-sys-color-surface-container-high: rgb(219 221 227);
  --md-sys-color-surface-container-highest: rgb(208 209 215);
}
